/* Заголовок страницы */
.page-header {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

/* Контейнер дорожной карты */
.roadmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Стили карточек */
.roadmap-card {
  border: 2px solid #44BBC1;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
  position: relative;
}

.roadmap-card h3 {
  margin-bottom: 0.5rem;
}

.roadmap-card p {
  margin-bottom: 0.5rem;
}

/* Стрелка между карточками */
.arrow {
  font-size: 2rem;
  color: #44BBC1;
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .arrow {
    font-size: 1.5rem;
  }
}

/* Стили карточки с ветвлением */
.branch {
  border-color: #44BBC1;
}

.branch-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.branch-card {
  border: 2px solid #44BBC1;
  border-radius: 8px;
  padding: 0.75rem;
  flex: 1 1 250px;
  text-align: center;
}

.branch-card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

/* Адаптивные настройки: ширина бордера на мобильных экранов*/
@media (max-width: 768px) {
  .roadmap-container {
    width: 90%;
  }
}


html[data-theme="dark"] body {
    background-color: #1A1A1A;
        color: #F1F1F1;
   }

html[data-theme="dark"] .branch-card {
    border-color: #44BBC1;
  }

html[data-theme="dark"] .roadmap-card {
    border-color: #44BBC1;
  }

html[data-theme="dark"] .page-header {
    background-color: #1A1A1A;
    color: #fff;
  }