* {
    box-sizing: border-box;
}

.carousel .item {
    height: 300px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  width: 33.33%;
  height: auto;
}

.rounded-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.rounded-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
