body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F3; /* Измененный цвет фона */
}

.frame {
    border: 2px solid #007BFF; /* Синий цвет рамки */
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #FFF9F2; /* Фон для секций */
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

main {
    padding: 2rem;
}

.carousel {
    display: flex;
    align-items: center;
}

.carousel-images {
    position: relative;
    width: 100%; /* Занимает всю ширину родительского элемента */
    overflow: hidden; /* Скрывает части изображений, выходящие за пределы контейнера */
}

.carousel-images img {
    width: 100%; /* Полная ширина */
    height: auto; /* Автоматическое изменение высоты для сохранения пропорций */
    display: none; /* Изначально скрываем все изображения */
}

.carousel-images img.active {
    display: block; /* Показать только активное изображение */
}

.carousel-button {
    margin: 0 10px; /* Отступ между кнопками и изображениями */
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px; /* Закругление углов кнопок */
    background-color: #007BFF; /* Цвет фона кнопки (синий) */
    color: #fff; /* Цвет текста кнопки (белый) */
    border: none; /* Убирает стандартную рамку */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.carousel-button:hover {
    background-color: #0056b3; /* Цвет фона при наведении (темно-синий) */
}
